<div class="game-container">
    <h3 class="container-title">Round Scores</h3>

    <div class="leaderboard">
        <div class="score-item" v-for="(score, playerName) in round_scores" :key="playerName">
            <span class="player-name">{{ playerName }}</span>
            <span class="player-score">{{ score }}</span>
        </div> 
    </div>

    <h3 class="container-title">Total Scores</h3>

    <div class="leaderboard">
        <div class="score-item" v-for="(score, playerName) in final_scores" :key="playerName">
            <span class="player-name">{{ playerName }}</span>
            <span class="player-score">{{ score }}</span>
        </div> 
    </div>
    <button @click="nextStage()" v-if="is_admin" class="next-stage-button">Go to next stage</button>
</div>